<style>
* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.navbar {
  position: sticky;
  overflow: hidden;
    top: 0;
  background-color: white;
  color: grey;
  padding: 30px 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto; /* center */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.nav-links {
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: lightblue;
}
 
.column-66 {
  float: left;
  width: 75%;
  padding: 10px;
}

.column-33 {
  float: left;
  width: 25%;
  padding: 10px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 60px
}

.button {
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: Red;
  text-decoration: none;
}

button:hover {
    background-color: Green;
    color: black;
}
  
img {
  display: block;
  height: auto;
  max-width: 100%;
}

#popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background-color:  rgba(0,0,0,.95);
    justify-content: center;
    align-items: center;
  }

#popup img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 0px #000;
  }

#popup:target {
    display: flex;
  }

.thumbnail {
    cursor: pointer;
  }

.footer 
{
   /*position: fixed;*/
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: grey;
   font-weight: bold;
   text-align: center;
}

@media screen and (max-width: 1000px) {
   .navbar-container {
    flex-direction: column; /* Stack logo and nav links */
    align-items: center; /* Center items horizontally */
  }

  .logo {
    width: 100%; /* Make logo take full width */
    text-align: center; /* Center the logo text */
    margin-bottom: 10px; /* Add some space below the logo */
  }

  .nav-links {
    align-items: center;
    text-align: center;
    display: none; /* Initially hide the links */
    flex-direction: column;
    width: 100%;
    position: static; /* Remove absolute positioning */
    justify-content: center;
  }

  .nav-links.active {
    display: flex; /* Show links when active class is applied (you'll need JavaScript for this toggle) */
  }

  .nav-links li {
    margin: 15px 0;
  }
  
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  
  img {
    margin: auto;
  }
  
}
</style>
